<mat-grid-list cols="1" [rowHeight]="'100px'" [gutterSize]="'1px'">
  <mat-grid-tile [colspan]="1" [rowspan]="1">Cadastro no BookShelf</mat-grid-tile>
  <mat-card>
    <img mat-card-image src="../../assets/imagens/cover2.png" alt="Cover do Cadastro de Usuários">
    <form [formGroup]="formularioCadastro" (ngSubmit)="enviaCadastro()">
      <mat-form-field>
        <input matInput placeholder="Entre com seu nome" formControlName="nome">
        <mat-error *ngIf="nome?.errors?.['required']">É necessário informar seu nome!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email de Login" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">É necessário informar um e-mail!</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">O formato do e-mail não é válido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Entre com a senha" type="password" formControlName="senha">
        <mat-error *ngIf="senha?.errors?.['required']">Esqueceu a senha?</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirme a senha anterior" type="password" formControlName="confirmaSenha">
        <mat-error *ngIf="confirmaSenha?.errors?.['required']">Entre com a confirmação.</mat-error>
        <mat-error *ngIf="formularioCadastro.errors?.['senhaConfirmada']">Entre com a confirmação.</mat-error>
      </mat-form-field>
      <mat-card-footer>
        <button mat-button color="accent" type="submit">Cadastrar</button>
        <button mat-button color="primary">Fechar</button>
      </mat-card-footer>
    </form>
  </mat-card>
</mat-grid-list>
