<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ conteudo }}</mat-card-title>
      <mat-card-subtitle>Entre na sua estante</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/imagens/4.png" alt="Banner do Login">
    <mat-card-content>
      <form [formGroup]="formularioLogin" (ngSubmit)="loginFirebase()">
        <mat-form-field>
          <input matInput placeholder="Email de Login" formControlName="email">
          <mat-error *ngIf="email?.errors?.['required']">É necessário informar um e-mail!</mat-error>
          <mat-error *ngIf="email?.errors?.['email']">O formato do e-mail não é válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Entre com a senha" type="password" formControlName="senha">
          <mat-error *ngIf="senha?.errors?.['required']">Esqueceu a senha?</mat-error>
        </mat-form-field>
        <mat-card-footer>
          <button mat-raised-button color="accent" type="submit">Entrar</button>
          <button mat-button mat-dialog-close color="primary">Fechar</button>
        </mat-card-footer>
      </form>
    </mat-card-content>
    <span>Ainda <strong> não tem cadastro?</strong> Clique <a routerLink="/app-app-cadastro"> aqui</a> e venha fazer parte desta comunidade de leitores!</span>
  </mat-card>
</div>


