<h1 mat-dialog-title>BookShelf Login de Usuário</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>[Entre em sua estante virtual]</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/imagens/4.png" alt="Banner do Login">
    <mat-card-content>
      <form [formGroup]="formularioLogin" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Email de Login">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Senha de acesso" type="password">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Entrar</button>
        <button mat-button mat-dialog-close>Fechar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions>
</div>


